* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
/*********************************utilities**************************************/
.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
img {
  width: 100%;
}
.opacity-05 {
  opacity: 0.5;
}
h4 {
  margin-bottom: 10px;
}
li {
  list-style: none;
  padding: 8px 0;
  opacity: 0.5;
}
/*********************************aside******************************************/
aside {
  width: 60px;
  height: calc(100vh - 100px);
  background-color: black;
  flex-shrink: 0;
  flex-grow: 0;
}
li,
h4,
p {
  color: white;
}
.logo {
  display: none;
  height: 45px;
  margin-top: 10px;
  margin-left: -5px;
  width: 200px;
}
.logo-small {
  width: 30px;
  margin-left: 15px;
  margin-top: 5px;
}
.aside-nav {
  height: calc(100% - 30px);
  padding: 10px 16px;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.aside-nav img {
  width: 30px;
}
aside p {
  display: none;
}
.fa-plus {
  color: black;
  padding: 5px;
  font-size: 24px;
  background-color: rgb(163, 163, 163);
}
.playlist {
  display: none;
}
.download {
  height: 15px;
}
.download-box {
  border-bottom: 1px solid rgba(163, 163, 163, 0);
  padding-bottom: 10px;
}
.profile {
  border-radius: 100%;
  background-color: rgb(163, 163, 163);
  width: 17%;
  overflow: hidden;
}
.profile img {
  object-fit: cover;
}
/*******************************aside media**************************************/
@media all and (min-width: 639px) {
  aside {
    width: 250px;
  }
  .logo-small {
    display: none;
  }
  .playlist,
  .logo {
    display: block;
  }
  .img-aside {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
  }
  .fa-plus,
  aside p {
    display: block;
  }
  .aside-nav {
    height: calc(100% - 55px);
    padding-top: 20px;
  }
  .aside-nav-bottom,
  .aside-nav-top {
    width: 100%;
  }
  .download-box {
    border-bottom: 1px solid rgba(163, 163, 163, 1);
  }
}
/*********************************header*****************************************/
header {
  width: 100%;
  height: 100px;
  background-color: rgb(8, 11, 18);
  position: fixed;
  top: 0;
}
/********************************main********************************************/

main {
  width: 100%;
  margin-top: 100px;
  background-color: rgb(20, 25, 34);
  height: calc(100vh - 200px);
  overflow: auto;
}

/*********************************footer*****************************************/
footer {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  background-color: rgb(40, 40, 40);
}
